# 예제 MCP 용 날씨 API 환경변수 설정
WEATHER_API_BASE_URL="https://api.openweathermap.org/data/2.5"
WEATHER_API_KEY="your_api_key_here"
# Ollama 설정
OLLAMA_BASE_URL=http://127.0.0.1:11434
# Ollama 모델 이름
OLLAMA_MODEL_NAME=qwen3:1.7b